<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>Holztek</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<style>
.mainSectionWithBanner, .newMainSection {
   margin-top: 0 !important;
}
.newMainSection > .container > .col-md-12 {
   padding: 0 !important;
}
.breadrumbWrap {
   display: none !important;
}
.nodecoration,
.nodecoration:hover,
.nodecoration:focus {
   text-decoration: none
}
.nodecoration:hover h3,
.nodecoration:focus h3 {
   text-decoration: none
}
</style>
<div class="container" id="holztek">
   <div class="header">
      <div class="slide slide-1" style="display:block;"></div>
      <div class="content">
         <div class="slide__text animated fadeInUp" style="display:block;"></div>
         <div class="slide__logo animated fadeInDown" style="display:block;">
         </div>
      </div>
      <div class="sidebar">
         <div class="sidebar-content">
            <div class="sidebar-mobile">
               <p><img src="/media/images/arrow-down.svg" alt="Menú holztek">Menú Holztek</p>
            </div>
            <ul class="sidebar-menu">
               <li><a href="/sodimac-pe/category/cat30060/Porcelanatos/N-1z0yj3zZ1z13uwb?sScenario=BRD_porcelanato&sTerm=porcelanato">Porcelanatos</a></li>
               <li><a href="/sodimac-pe/product/2471418/Malla-de-vidrio-30x30cm">Cerámicas</a></li>
               <!--<li><a href="/sodimac-pe/category/scat552404/Pisos-flotantes/N-1z141k4">Pisos
                     flotantes</a>
               </li>-->
               <li><a href="/sodimac-pe/category/cat30076/Pisos-Vinilicos/N-1z13uwb">Pisos
                     vinílicos</a>
               </li>
               <li><a href="/sodimac-pe/category/cat30072/Pisos-de-Madera/N-1z13uwb">Pisos de madera</a>
               </li>
               <!--<li><a href="/sodimac-pe/category/cat2949017/Piedras-y-Enchapes">Piedras y enchapes</a></li>-->
               <li><a href="/sodimac-pe/category/cat30064/Mosaicos-y-Decorados/N-1z13uwb">Mosaicos
                     y
                     decorados</a>
               </li>
               <!--<li><a href="/sodimac-pe/search/?No=64&amp;Nrpp=16&amp;Ntk=sod&amp;Ntt=puertas+y+ventanas+holztek&amp;Nrpp=16&amp;Ntk=sod&amp;Ntt=puertas+y+ventanas+holztek&amp;undefined">Puertas y ventanas</a>
               </li>-->
            </ul>
            <div class="background"></div>
         </div>
      </div>
   </div>
   <div class="wrapper">
      <h2>Lider en revestimientos para el hogar</h2>
      <div class="featured">
         <video autoplay="" loop="" muted="" poster="/media/images/holztek--featured-video__preview.jpg"
            class="preview" id="background">
            <source src="/media/videos/video-holztek.mp4" type="video/mp4">
            <source src="/media/videos/video-holztek.webm" type="video/webm">
            <source src="/media/videos/video-holztek.ogv" type="video/ogg">
         </video>
         <div class="info-video-featured__embed">
            <iframe src="/media/images/saved_resource(1).html" class="opacity" frameborder="0" allowfullscreen=""></iframe>
         </div>
      </div>
      <h2>Las últimas tendencias del mundo para tu hogar</h2>
      <div class="container-grid reference-tutoriales"></div>
      <h2>¿Por qué elegir Holztek?</h2>
      <div class="reference-elegir container-grid">
         <div class="row-item-3">
            <h3 class="title">La mayor variedad en revestimientos para pisos y muros de uso tanto interior como
               exterior.</h3>
         </div>
         <div class="line"></div>
         <div class="row-item-3">
            <h3 class="title">Garantía de calidad de hasta 35 años.</h3>
         </div>
         <div class="line"></div>
         <div class="row-item-3">
            <h3 class="title">Diseño y últimas tendencias mundiales al alcance de todos.</h3>
         </div>
         <div class="line"></div>
         <div class="row-item-3">
            <h3 class="title">Alta tecnología logrando diseños hiperrealistas en maderados, cementicios y piedras en
               distintas materialidades según cada necesidad.
            </h3>
         </div>
         <div class="line"></div>
         <div class="row-item-3">
            <h3 class="title">Todos los pisos con resistencia al desgaste y alto tráfico.</h3>
         </div>
      </div>
      <h2>Encuentra todas las soluciones en revestimientos</h2>
      <div class="reference-categorias container-grid-full">
         <a href="/sodimac-pe/category/cat30060/Porcelanatos/N-1z0yj3zZ1z13uwb?sScenario=BRD_porcelanatos&sTerm=porcelanatos" class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-1.jpg" alt="Porcelanatos">
            <h3 class="title">Porcelanatos</h3>
         </a>
         <a href="/sodimac-pe/product/2471418/Malla-de-vidrio-30x30cm"
            class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-2.jpg" alt="Cerámicas">
            <h3 class="title">Cerámicas</h3>
         </a>
         <!--<a href="/sodimac-pe/category/scat552404/Pisos-flotantes/N-1z141k4" class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-3.jpg" alt="Pisos flotantes">
            <h3 class="title">Pisos flotantes</h3>
         </a>-->
         <a href="/sodimac-pe/category/cat30076/Pisos-Vinilicos/N-1z13uwb"
            class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-4.jpg" alt="Pisos vinílicos">
            <h3 class="title">Pisos vinílicos</h3>
         </a>
         <a href="/sodimac-pe/category/cat30072/Pisos-de-Madera/N-1z13uwb" class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-5.jpg" alt="Pisos de madera">
            <h3 class="title">Pisos de madera</h3>
         </a>
         <!--<a href="/sodimac-pe/search/N-1z141k4?Ntt=piedras" class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-6.jpg" alt="Piedras y enchapes">
            <h3 class="title">Piedras y enchapes</h3>
         </a>-->
         <a href="/sodimac-pe/category/cat30064/Mosaicos-y-Decorados/N-1z13uwb" class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-7.jpg" alt="Mosaicos y decorados">
            <h3 class="title">Mosaicos y decorados</h3>
         </a>
         <!--<a href="/sodimac-pe/search/?No=64&amp;Nrpp=16&amp;Ntk=sod&amp;Ntt=puertas+y+ventanas+holztek&amp;Nrpp=16&amp;Ntk=sod&amp;Ntt=puertas+y+ventanas+holztek&amp;undefined"
            class="categoria row-item-2 nodecoration">
            <img src="/media/images/holztek--category-8.jpg" alt="Puertas y ventanas">
            <h3 class="title">Puertas y ventanas</h3>
         </a>-->
      </div>
      <h2>Garantías</h2>
      <div class="reference-pisos"> <img src="/media/images/pisos.jpg"></div>
      <div class="redes">
         <h2>Síguenos en Instagram</h2>
         <a href="https://www.instagram.com/holzteklatam/" title="Síguenos en Instagram" class="ico-instagram" target="_blank">
            <svg style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" xml:space="preserve"
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="Edges"></g>
               <g id="Symbol">
                  <g>
                     <radialgradient cx="56.3501" cy="19.2179" gradientTransform="matrix(0.9986 -5.233596e-02 4.448556e-02 0.8488 -36.9742 443.8014)"
                        gradientUnits="userSpaceOnUse" id="SVGID_1_" r="711.335">
                        <stop offset="0" style="stop-color:#FED576"></stop>
                        <stop offset="0.2634" style="stop-color:#F47133"></stop>
                        <stop offset="0.6091" style="stop-color:#BC3081"></stop>
                        <stop offset="1" style="stop-color:#4C63D2"></stop>
                     </radialgradient>
                     <path class="st0" d="M96.1,23.2c-16.2,6.3-29.9,14.7-43.6,28.4C38.8,65.2,30.4,79,24.1,95.1c-6.1,15.6-10.2,33.5-11.4,59.7    c-1.2,26.2-1.5,34.6-1.5,101.4s0.3,75.2,1.5,101.4c1.2,26.2,5.4,44.1,11.4,59.7c6.3,16.2,14.7,29.9,28.4,43.6    c13.7,13.7,27.4,22.1,43.6,28.4c15.6,6.1,33.5,10.2,59.7,11.4c26.2,1.2,34.6,1.5,101.4,1.5c66.8,0,75.2-0.3,101.4-1.5    c26.2-1.2,44.1-5.4,59.7-11.4c16.2-6.3,29.9-14.7,43.6-28.4c13.7-13.7,22.1-27.4,28.4-43.6c6.1-15.6,10.2-33.5,11.4-59.7    c1.2-26.2,1.5-34.6,1.5-101.4s-0.3-75.2-1.5-101.4c-1.2-26.2-5.4-44.1-11.4-59.7C484,79,475.6,65.2,462,51.6    c-13.7-13.7-27.4-22.1-43.6-28.4c-15.6-6.1-33.5-10.2-59.7-11.4c-26.2-1.2-34.6-1.5-101.4-1.5s-75.2,0.3-101.4,1.5    C129.6,12.9,111.7,17.1,96.1,23.2z M356.6,56c24,1.1,37,5.1,45.7,8.5c11.5,4.5,19.7,9.8,28.3,18.4c8.6,8.6,13.9,16.8,18.4,28.3    c3.4,8.7,7.4,21.7,8.5,45.7c1.2,25.9,1.4,33.7,1.4,99.4s-0.3,73.5-1.4,99.4c-1.1,24-5.1,37-8.5,45.7c-4.5,11.5-9.8,19.7-18.4,28.3    c-8.6,8.6-16.8,13.9-28.3,18.4c-8.7,3.4-21.7,7.4-45.7,8.5c-25.9,1.2-33.7,1.4-99.4,1.4s-73.5-0.3-99.4-1.4    c-24-1.1-37-5.1-45.7-8.5c-11.5-4.5-19.7-9.8-28.3-18.4c-8.6-8.6-13.9-16.8-18.4-28.3c-3.4-8.7-7.4-21.7-8.5-45.7    c-1.2-25.9-1.4-33.7-1.4-99.4s0.3-73.5,1.4-99.4c1.1-24,5.1-37,8.5-45.7c4.5-11.5,9.8-19.7,18.4-28.3c8.6-8.6,16.8-13.9,28.3-18.4    c8.7-3.4,21.7-7.4,45.7-8.5c25.9-1.2,33.7-1.4,99.4-1.4S330.7,54.8,356.6,56z"></path>
                     <radialgradient cx="154.0732" cy="134.5501" gradientTransform="matrix(0.9986 -5.233596e-02 4.448556e-02 0.8488 -24.3617 253.2946)"
                        gradientUnits="userSpaceOnUse" id="SVGID_2_" r="365.2801">
                        <stop offset="0" style="stop-color:#FED576"></stop>
                        <stop offset="0.2634" style="stop-color:#F47133"></stop>
                        <stop offset="0.6091" style="stop-color:#BC3081"></stop>
                        <stop offset="1" style="stop-color:#4C63D2"></stop>
                     </radialgradient>
                     <path class="st1" d="M130.9,256.3c0,69.8,56.6,126.3,126.3,126.3s126.3-56.6,126.3-126.3S327,130,257.2,130    S130.9,186.5,130.9,256.3z M339.2,256.3c0,45.3-36.7,82-82,82s-82-36.7-82-82c0-45.3,36.7-82,82-82S339.2,211,339.2,256.3z"></path>
                     <circle class="st2" cx="388.6" cy="125" r="29.5"></circle>
                  </g>
               </g>
            </svg>
         </a>
      </div>
   </div>
</div>
<script src="/js/holztek-vendor.js"></script>
<script src="/js/holztek-core.js"></script>