main#main .container {
    width: 100%!important;
    padding: 0px!important;
    margin: 0px!important;
  }
  #holztek *:focus {
    outline: inherit;
  }
  #holztek strong {
    font-weight: 400;
  }
  #holztek a:hover h3 {
    text-decoration: underline;
  }
  #holztek {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100%;
    overflow: hidden;
  }
  #holztek a {
    text-decoration: none;
    color: #000;
  }
  /*
  * Module: Redes
  */
  #holztek .redes {
    text-align: center;
    padding: 0 3rem;
    height: auto;
  }
  #holztek .ico-youtube,
  #holztek .ico-facebook,
  #holztek .ico-instagram {
   display: inline-block;
   width: 35px;
   height: 35px;
   position: relative;
   margin-right: 10px;
  }
  #holztek .ico-youtube svg,
  #holztek .ico-facebook svg,
  #holztek .ico-instagram svg {
    position: absolute;
   width: 100%;
   height: 100%;
  }
  #holztek .ico-youtube path,
  #holztek .ico-facebook path,
  #holztek .ico-instagram path {
   fill: #999999;
  }
  #holztek .ico-youtube g,
  #holztek .ico-facebook g,
  #holztek .ico-instagram g {
   fill: #999999;
  }
  #holztek .ico-facebook:hover g,
  #holztek .ico-youtube:hover path,
  #holztek .ico-facebook:hover path,
  #holztek .ico-instagram:hover g,
  #holztek .ico-instagram:hover path {
   fill: #b30722;
  }
  
  #holztek .reference-pisos img
  {
  width: 100%;
  height: auto;
  margin-top: 50px;
  
  
  }
  /*
  * Module: Header
  */
  #holztek .header {
    position: relative;
    width: 100%;
    height: 502px;
    background: #000;
  }
  #holztek .header .content {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
  }
  
  #holztek .wrapper h2 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 25pt;
    line-height: 27pt;
  }
  
  #holztek .header .slide {
    position: absolute;
    width: 100%;
    height: 502px;
    display: none;
  }
  
  /* Slick - Slider Mobile */
  #holztek .slick-prev, .slick-next {
      position: absolute;
      top: 98px;
      width: 30px;
      height: 30px;
      padding: 0;
      z-index: 1;
  }
  
  #holztek .slick-next {
    right: -8px;
  }
  
  #holztek .slick-prev {
    left: -9px;
  }
  
  #holztek .slick-prev path, .slick-next path {
      fill: #acacac;
  }
  
  #holztek .slick-dots {
      position: absolute;
      bottom: -25px;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center;
  }
  
  #holztek .slick-dots li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
  }
  
  #holztek .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  
  #holztek .slick-dots li.slick-active button:before {
      color: #acacac;
  }
  
  #holztek .opacity {
    opacity: 0.3 !important;
  }
  #holztek .slick-dots li button:before {
      font-size: 50pt;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      content: '•';
      text-align: center;
      color: #dedede;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  #holztek .header .slide-1 {
    background-image: url(/media/images/holztek-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  
  #holztek .slide__text {
    background-image: url(/media/images/holztek-text.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 380px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -180px;
    margin-top: -50px;
    z-index: 3;
    display: none;
  }
  
  #holztek .slide__logo {
    background-image: url(/media/images/holztek-logo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    width: 250px;
    height: 80px;
    top: 140px;
    left: 50%;
    margin-left: -115px;
    z-index: 3;
    display: none;
  }
  
  #holztek .sidebar {
      position: absolute;
      width: 1000px;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      z-index: 3;
  }
  
  #holztek .sidebar-content {
    width: 210px;
    min-height: 200px;
    margin-top: 20px;
    position: absolute;
    padding: 20px 20px 20px 20px;
    z-index: 9;
  }
  
  
  #holztek .sidebar-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #holztek .sidebar-content ul li {
    margin-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(51,51,51,0.5);
    padding-bottom: 7px;
  }
  #holztek .sidebar-content ul li:last-child {
    border: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  #holztek .sidebar-content ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 10pt;
  }
  
  #holztek .sidebar-content ul li a:hover {
    color: #005dad;
  }
  
  #holztek .sidebar-mobile {
   display: none;
  }
  
  #holztek .sidebar-content .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  /*
  * Module: Video
  */
  
  #holztek .featured {
    position: relative;
    width: 1000px;
    margin: auto;
  }
  
  #holztek .featured video {
    width: 100%;
    height: auto;
    margin-top: -3px;
  }
  
  #holztek .info-video-featured {
    width: 600px;
    float: right;
  }
  #holztek .info-video-featured__embed {
    display: none;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 30px;
  }
  #holztek .info-video-featured__embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #holztek .featured .preview {
    cursor: pointer;
    width: auto;
    height: auto;
    width: 100%;
    z-index: 1;
  }
  #holztek  .info-video-featured__embed .opacity {
    opacity: 0 !important;
  }
  
  /*
  * Custom Grid
  */
  #holztek .wrapper {
    position: relative;
    width: 1000px;
    margin: auto;
    padding-bottom: 30px;
  }
  
  #holztek .container-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #holztek .container-grid .row-item {
    width: 32%;
    display: block;
    margin-bottom: 13px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  #holztek .container-grid .row-item-3 {
    width: 100%;
    display: block;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  
  #holztek .container-grid .row-item img {
    width: 100%;
    height: auto;
  }
  
  #holztek .container-grid .row-item:nth-child(3) {
    margin-right: 0px;
  }
  
  #holztek .container-grid .row-item:nth-child(6) {
    margin-right: 0px;
  }
  
  #holztek .container-grid .row-item:nth-child(9) {
    margin-right: 0px;
  }
  
  #holztek .container-grid .row-item:nth-child(12) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-full {
    position: relative;
    width: 1618px;
    margin-left: -809px;
    left: 50%;
    display:flex;
      flex-wrap:wrap;
      text-align:center;
    justify-content: center;
  }
  
  #holztek .row-item-2 {
    width: 100%;
    margin-right: 20px;
    margin-bottom: 25px;
    width:100%;
    width: 526px;
  }
  
  #holztek .container-grid-full .row-item-2:nth-child(3) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-full .row-item-2:nth-child(6) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-full .row-item-2:nth-child(9) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-center {
    width: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  #holztek .container-grid-center .row-item {
    width: 32%;
    display: block;
    margin-bottom: 13px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  #holztek .container-grid-center .row-item:nth-child(3) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-center .row-item:nth-child(6) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-center .row-item:nth-child(8) {
    margin-right: 0px;
  }
  
  #holztek .container-grid-center .row-item:last-child {
    margin-left: -158px;
  }
  
  #holztek .container-grid-medium {
    width: 860px;
    min-height: 300px;
    position: relative;
    margin: auto;
  }
  #holztek .container-grid-medium .row-item-side {
   width: 50%;
   margin-bottom: 50px;
   float: left;
  }
  
  /*
  * Module: Tutoriales
  */
  #holztek .reference-tutoriales .title {
    margin: 0;
    font-weight: 300;
    font-size: 20pt;
    line-height: 23pt;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: inherit;
  }
  
  #holztek .reference-tutoriales p.link {
    font-size: 12pt;
    color: #ff8867;
    font-weight: 400;
  
  }
  
  
  /*
  * Module: Manuales
  */
  #holztek .reference-manuales .title {
    margin: 0;
    font-weight: 300;
    font-size: 17pt;
    line-height: 19pt;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
  }
  
  /*
  * Module: Descarga
  */
  #holztek .btn-descarga {
    display: block;
    position: relative;
    font-size: 14pt;
    line-height: 14pt;
    background: url(/media/images/holztek--ico__pdf.png) no-repeat 95% center;
    background-size: 30px auto;
    padding: 14px 40px 14px 10px;
    width: 170px;
    text-align: left;
    border: 2px solid #ee6928;
    margin: 0 auto;
    color: #ee6928;
    margin-top: 20px;
    font-weight: normal;
  }
  
  #holztek .btn-descarga:hover {
    background: url(/media/images/holztek--ico__pdf-hover.png) no-repeat 95% center #ee6928;
    background-size: 30px auto;
    color: #fff;
    text-decoration: none;
  }
  
  
  /*
  Module: Elegir
  */
  #holztek .reference-elegir .title {
      text-align: center;
      font-size: 18pt;
      line-height: 23pt;
      font-weight: 300;
      padding: 0 7rem;
      margin-top: 20px;
  }
  #holztek .reference-elegir .line {
    width: 60px;
    height: 2px;
    position: relative;
    margin: 0 auto;
    background: #ee6928;
  }
  
  /*
  * Module: Categorias
  */
  
  #holztek .reference-categorias .categoria img {
    width: 100%;
  }
  
  #holztek .reference-categorias .categoria .title {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20pt;
    line-height: 23pt;
  }
  
  /*
  * Module: Proyectos
  */
  #holztek .reference-proyectos .proyecto img {
    width: 100%;
  }
  
  #holztek .reference-proyectos .proyecto .title {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20pt;
    line-height: 23pt;
  }
  /*
  * Module: Contacto
  */
  .reference-contacto .ico-bandera {
    width: 50px;
    height: 30px;
    position: absolute;
    left: 0px;
  }
  .reference-contacto .ico-bandera img {
    width: 100%;
    height: auto;
  }
  .reference-contacto .contacto {
   width: 50%;
   float: left;
   position: relative;
   margin-bottom: 20px;
  }
  .reference-contacto .info {
    font-weight: normal;
   padding-left: 70px;
   padding-right: 30px;
  }
  .reference-contacto .info p {
    font-size: 12pt;
   line-height: 16pt;
   padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  }
  
  /*
  * Module: Tipos
  */
  
  #holztek .reference-tipos {
    padding-top: 30px;
  }
  
  #holztek .reference-tipos .tipos {
    width: 340px;
  }
  
  #holztek .tipo-4,
  #holztek .tipo-2 {
    float: right;
  }
  
  #holztek .tipo-4 .highlight {
    width: 123px;
  }
  
  #holztek .tipos .logo__small {
    display: block;
    width: 100px;
    height: 40px;
    background-color: #000;
    border-radius: 7px;
    float: left;
    background-image: url(/media/images/kolor--logo-small.jpg);
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center center;
  }
  
  #holztek .tipos .type {
    display: block;
    width: 170px;
    height: 40px;
    border-radius: 7px;
    float: left;
    text-align: center;
    line-height: 41px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12pt;
    margin-left: 5px;
  }
  
  #holztek .tipos .logo__sello {
    display: block;
    width: 55px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-top: -5px;
  }
  
  #holztek .tipos .title {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20pt;
    line-height: 23pt;
  }
  
  #holztek .tipos .description {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    margin-top: 5px;
    font-weight: 300;
    font-size: 13pt;
    line-height: 18pt;
  }
  
  #holztek .tipos .highlight {
    width: 275px;
    float: left;
    font-weight: bold;
    font-size: 16pt;
    line-height: 18pt;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    margin: 10px 0px 5px 0px;
    text-align: center;
  }
  
  #holztek .tipos .description .title-small-strong {
    display: block;
    width: 100%;
    float: left;
    font-weight: bold;
  }
  
  #holztek .tipo-1 .highlight {
    color: #ddab56;
  }
  
  #holztek .tipo-1 .type {
    background-color: #ddab56;
  }
  
  #holztek .tipo-1 .logo__sello {
    background-image: url(/media/images/kolor--sello-1.jpg);
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-position: center center;
  }
  
  #holztek .tipo-2 .highlight {
    color: #919191;
  }
  
  #holztek .tipo-2 .type {
    background-color: #919191;
  }
  
  #holztek .tipo-2 .logo__sello {
    background-image: url(/media/images/kolor--sello-2.jpg);
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-position: center center;
  }
  
  #holztek .tipo-3 .highlight {
    color: #86402d;
  }
  
  #holztek .tipo-3 .type {
    background-color: #86402d;
  }
  
  #holztek .tipo-3 .logo__sello {
    background-image: url(/media/images/kolor--sello-3.jpg);
    background-repeat: no-repeat;
    background-size: auto 50px;
    background-position: center center;
  }
  
  #holztek .tipo-4 .highlight {
    color: #3c749f;
  }
  
  #holztek .tipo-4 .type {
    background-color: #3c749f;
  }
  
  /*
  * Module: Video
  */
  
  #holztek .info-video {
    width: 100%;
    float: left;
    margin-bottom: 30px;
  }
  
  #holztek .info-video-preview {
    width: 600px;
    float: right;
  }
  #holztek .info-video-preview__embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  #holztek .info-video-preview__embed iframe {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
  #holztek .info-video-preview__embed .preview {
    cursor: pointer;
    position: absolute; width: auto; height: auto; width: 100%; z-index: 1;
  }
  #holztek  .info-video-preview__embed .opacity {
    opacity: 0 !important;
  }
  
  #holztek .info-video-preview img {
    width: 100%;
    height: auto;
  }
  
  #holztek .info-video-txt {
    margin: 0;
    padding: 0;
    width: 200px;
    float: left;
    margin-top: 60px;
  }
  
  #holztek .info-video-txt .title {
    font-weight: 100;
    font-size: 24pt;
    line-height: 28pt;
  }
  
  @media (max-width: 1618px) {
    /*
    * Custom Responsive
    */
    #holztek .container-grid-full {
      width: 1200px;
      margin-left: -600px;
    }
    #holztek .container-grid .row-item {
      width: 286px;
    }
  
    #holztek .container-grid-center .row-item {
      width: 286px;
    }
    #holztek .container-grid-center .row-item:last-child {
      margin-left: -145px;
    }
    #holztek .row-item-2 {
      width: 386px
    }
  
    #holztek .wrapper {
      width: 900px;
    }
  
    /*
    * Module: Video
    */
    #holztek .featured {
      width: 900px;
    }
  }
  
  @media (max-width: 1200px) {
    /*
    * Custom Grid
    */
    #holztek .container-grid-full {
      width: 900px;
      margin-left: -450px;
    }
    #holztek .row-item-2 {
      width: 286px;
    }
  }
  
  @media (max-width: 1000px) {
    /*
    * Custom Grid
    */
    .mainSectionWithBanner, .newMainSection {
      margin-top: 30px!important;
    } 
    #holztek .container-grid-full {
      width: 800px;
      margin-left: -400px;
    }
    #holztek .container-grid .row-item {
      width: 253px;
    }
    #holztek .row-item-2 {
      width: 253px;
    }
    #holztek .wrapper {
      width: 800px;
    }
    /*
    * Module: Header
    */
    #holztek .sidebar {
      width: 900px;
    }
    #holztek .header .content {
      width: 900px;
    }
    /*
    * Module: Video
    */
    #holztek .container-grid-medium {
      width: 100%;
    }
    #holztek .featured {
      width: 800px;
    }
  }
  
  @media (max-width: 950px) {
    /*
    * Custom Grid
    */
    #holztek .wrapper {
      width: 780px;
    }
    #holztek .container-grid-full {
      width: 780px;
      margin-left: -390px;
    }
    #holztek .container-grid-center .row-item {
      width: 246px;
    }
    #holztek .container-grid-center .row-item:last-child {
      margin-left: -125px;
    }
    #holztek .container-grid .row-item {
      width: 246px;
    }
    #holztek .container-grid-full .row-item-2 {
      width: 246px;
    }
    #holztek .container-grid-medium {
      width: 800px;
    }
    /*
    * Module: Header
    */
    #holztek .sidebar {
      width: 780px;
    }
    #holztek .header .content {
      width: 780px;;
    }
    #holztek .sidebar-content {
      width: 180px;
      min-height: auto;
    }
    /*
    * Module: Video
    */
    #holztek .featured {
      width: 780px;
    }
    #holztek .info-video-preview {
      width: 500px;
    }
    #holztek .info-video {
      width: 700px;
      float: left;
      margin-left: 40px;
    }
  }
  
  @media (max-width: 840px) {
    /*
    * Custom Grid
    */
    #holztek .wrapper {
      width: 700px;
    }
    #holztek .container-grid-full {
      width: 700px;
      margin-left: -350px;
    }
    #holztek .container-grid-center .row-item {
      width: 220px;
    }
    #holztek .container-grid-center .row-item:last-child {
      margin-left: -115px;
    }
    #holztek .container-grid .row-item {
      width: 220px;
    }
    #holztek .container-grid-full .row-item-2 {
      width: 220px;
    }
    #holztek .container-grid-medium {
      width: 700px;
    }
    /*
    * Module: Header
    */
    #holztek .header,
    #holztek .header .slide,
    #holztek .header .content {
      height: 400px;
    }
    #holztek .header .content {
      width: 100%;
    }
    #holztek .header .slide-1 {
      background-position: center center;
    }
    #holztek .slide__logo {
      top: 60px;
    }
    /*
    * Module: Video
    */
    #holztek .featured {
      width: 700px;
    }
    #holztek .info-video {
      margin-left: 0px;
    }
    /*
    * Module: Sidebar
    */
    #holztek .sidebar {
      position: relative;
      width: 100%;
      float: left;
      margin: 0;
    }
    #holztek .sidebar-mobile {
     display: block;
     width: 100%;
     background-color: #8a8a8a;
     height: 50px;
     text-align: center;
     color: #fff;
     font-size: 20px;
     line-height: 50px;
     position: relative;
    margin-bottom: 10px;
    }
    #holztek .sidebar-mobile p {
      padding: 0px;
      margin: 0px;
    }
    #holztek .sidebar-content {
      position: relative;
      margin: 0px;
      padding: 0px;
      width: 100%;
      float: left;
      height: auto;
      margin-bottom: 20px;
    }
    #holztek .sidebar-content ul li {
      margin: 0;
      padding: 10px;
      cursor: pointer;
      margin: 1px;
      margin-bottom: 6px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: rgba(51,51,51,0.5);
      padding-bottom: 7px;
      padding-top: 7px;
    }
    #holztek .sidebar-content ul li a {
      font-size: 10pt;
      color: #333333;
      font-weight: bold;
    }
    #holztek .sidebar-content h2 {
      display: none;
    }
    #holztek .sidebar-mobile img {
     display: inline-block;
     width: 20px;
     margin-bottom: -2px;
     margin-right: 6px;
    }
    #holztek .sidebar-content .background {
      background: #fff;
      opacity: 1;
    }
    #holztek .sidebar-content ul {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      width: 300px;
      margin: 0 auto;
      display: none;
    }
    /* Module: Descargar boton */
    #holztek .btn-descarga {
      font-size: 12pt;
      line-height: 12pt;
      padding: 12px 28px 12px 10px;
      background-size: 22px auto;
      width: 150px;
    }
    /* Module: Reference Categories */
    #holztek .info-video-txt .title,
    #holztek .reference-proyectos .proyecto .title,
    #holztek .reference-tutoriales .title,
    #holztek .reference-manuales .title,
    #holztek .reference-elegir .title,
    #holztek .reference-categorias .categoria .title {
      font-size: 15pt;
      line-height: 20pt;
    }
    .reference-contacto .contacto {
      width: 430px;
      float: inherit;
      position: relative;
      margin: 0 auto;
      height: auto;
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 700px) {
    /*
    * Custom Grid
    */
    #holztek .wrapper {
      width: 360px;
    }
    #holztek .container-grid-full {
      width: 100%;
      margin: 0px;
      left: inherit;
    }
    #holztek .container-grid-center .row-item {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    #holztek .container-grid .row-item {
      width: 320px !important;
      margin: 0;
      margin-bottom: 20px;
      margin: 0 10px 20px 20px;
  
    }
    #holztek .container-grid-full .row-item-2 {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    #holztek .container-grid-medium {
      width: 320px;
    }
    #holztek .container-grid-medium .row-item-side {
      width: 100%;
      margin: 0px;
      margin-bottom: 30px;
    }
    #holztek .container-grid-center .row-item:last-child {
      margin-left: 0px;
    }
    #holztek .container-grid {
      min-height: inherit;
    }
    #holztek .reference-tutoriales .container-grid .row-item {
      height: 220px;
    }
    #holztek .reference-elegir .title {
      padding: 0px;
    }
    /*
    * Module: Header
    */
    #holztek .header,
    #holztek .header .slide,
    #holztek .header .content {
      height: 340px;
    }
    #holztek .slide__logo {
      position: absolute;
      width: 200px;
      height: 230px;
      margin-left: -100px;
      right: 50%;
      top: 90px;
    }
    #holztek .slide__text {
      width: 280px;
      height: 70px;
      margin-left: -140px;
      margin-top: 0;
    }
    #holztek .header .content {
      width: 100%;
    }
    #holztek .info-video {
      width: 100%;
    }
    #holztek .info-video-preview {
      width: 100%;
    }
    #holztek .info-video-txt {
      width: 100%;
      text-align: center;
      margin: 0;
    }
    /*
    * Module: Video
    */
    #holztek .featured {
      width: 360px;
    }
    #holztek .reference-tipos .tipos {
      width: 100%;
    }
    #holztek .tipos .type {
      width: 150px;
    }
    .reference-contacto .info p {
    font-size: 9pt;
      line-height: 12pt;
    }
    .reference-contacto .ico-bandera {
      width: 40px;
      height: 30px;
    }
    .reference-contacto .info {
      padding-left: 55px;
      padding-right: 0px;
    }
    .reference-contacto .contacto {
      width: 300px;
    }
  }
  @media (max-width: 370px) {
    #holztek .header .slide-1 {
      background-size: auto 100%;
    }
    /*
    * Custom Grid
    */
    #holztek .wrapper {
      width: 100%;
    }
    #holztek .container-grid .row-item:nth-child(6),
    #holztek .container-grid .row-item:nth-child(3) {
      margin-right: auto;
    }
    #holztek .container-grid .row-item {
      width: 280px !important;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    #holztek .container-grid-center .row-item{
      padding: 0 10px;
    }
    #holztek .container-grid-medium {
      width: 300px;
    }
    #holztek .wrapper h2 {
      font-size: 20pt;
      line-height: 22pt;
      padding: 0 10px;
    }
    #holztek .featured {
      width: 320px;
    }
    /* Slick Slider */
    #holztek .slick-next {
      right: -5px;
    }
    #holztek .slick-prev {
      left: -5px;
    }
    #holztek .slick-prev, .slick-next {
        top: 70px;
    }
    #holztek .tipos .type {
      width: 130px;
    }
  }
  